<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>比较大小的案例-computed实现</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!--
        1. 在功能相同的情况下，优先选择computed属性而不是watch。
           原因是computed属性基于它们的响应式依赖进行缓存，只有在依赖发生变化时才重新计算。

        2. 在某些情况下，必须使用watch而不能使用computed：
           当程序中包含异步操作时，必须使用watch，因为computed属性无法处理异步逻辑。

        3. 何时使用箭头函数，何时使用普通函数？
           - 如果函数是Vue管理的（例如，Vue生命周期钩子、methods、computed等），应使用普通函数。
             这是因为普通函数允许访问Vue实例的上下文（即this关键字）。
           - 对于非Vue管理的函数（例如，非Vue实例的方法或回调函数），可以使用箭头函数。
             箭头函数在这些场景下有助于保持上下文的一致性。
    -->

    <div id="app">
        <h1>{{ msg }}</h1>
        数值1：<input type="number" v-model="num1"> <br>
        数值2：<input type="number" v-model="num2"> <br>
        比较大小：{{ compareResult }}
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                msg: '比较大小的案例',
                num1: 0,
                num2: 0,
            },
            computed: {
                // 计算属性的简写形式
                compareResult() {
                    let result = this.num1 - this.num2;

                    // 注意：不应在计算属性中使用异步操作，如setTimeout。
                    // 计算属性设计用于同步操作，并且它们应该立即返回值。
                    // 异步操作应该使用watch属性或其他方法来处理。

                    // setTimeout(() => {
                    //     if (result === 0) {
                    //         return this.num1 + ' = ' + this.num2
                    //     } else if (result > 0) {
                    //         return this.num1 + ' > ' + this.num2
                    //     } else {
                    //         return this.num1 + ' < ' + this.num2
                    //     }
                    // }, 3000)

                    if (result === 0) {
                        return this.num1 + ' = ' + this.num2
                    } else if (result > 0) {
                        return this.num1 + ' > ' + this.num2
                    } else {
                        return this.num1 + ' < ' + this.num2
                    }
                }
            },
        });
    </script>
</body>
</html>