<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{ msg }}</h1>

        <h2>遍历对象的属性</h2>
        <ul>
            <li v-for="(val, proName) in user">
                {{ proName }}：{{ val }}
            </li>
        </ul>

        <h2>遍历字符串</h2>
        <ul>
            <li v-for="(c, idx) of str">
                {{ idx }}, {{ c }}
            </li>
        </ul>

        <h2>遍历指定的次数</h2>
        <ul>
            <li v-for="(num, idx) in counter">
                {{ idx }} {{ num }}
            </li>
        </ul>

        <h2>遍历数组</h2>
        <!-- 静态列表 -->
        <ul>
            <li>张三</li>
            <li>李四</li>
            <li>王五</li>
        </ul>
        <!-- 动态列表 -->
        <ul>
            <!--
                1. v-for要写在循环项上。
                2. v-for的语法规则：
                    v-for="(变量名,下标) in/of 数组"
                    变量名代表了数组中的每一个元素
             -->
            <li v-for="v in names">{{ v }}</li>
        </ul>

        <ul>
            <li v-for="v of names">{{ v }}</li>
        </ul>

        <ul>
            <li v-for="(name,index) in names">{{ name }}:{{ index }}</li>
        </ul>

        <ul>
            <li v-for="(vip,index) of vips">
                会员名：{{ vip.name }}，年龄：{{ vip.age }}岁
            </li>
        </ul>

        <table>
            <tr>
                <th>序号</th>
                <th>会员名</th>
                <th>年龄</th>
                <th>选择</th>
            </tr>
            <tr v-for="(vip, index) in vips">
                <td>{{ index + 1 }}</td>
                <td>{{ vip.name }}</td>
                <td>{{ vip.age }}</td>
                <td><input type="checkbox"></td>
            </tr>
        </table>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                msg: '列表渲染',
                names: ['jack', 'lucy', 'james'],
                vips: [
                    {id: '1', name: 'jack', age: 21},
                    {id: '2', name: 'lucy', age: 22},
                    {id: '3', name: 'james', age: 23},
                ],
                user: {
                    id: '1',
                    name: '张三',
                    gender: '男'
                },
                str: 'string',
                counter: 10
            }
        });
    </script>
</body>
</html>